<h2><i class="bi bi-envelope"></i>ติดต่อเรา</h2>
<hr />
<div class="row">
    <div class="col-6">
        <p class mt-4>แผนที่</p>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3787.6620210759834!2d99.3986862!3d18.3170581!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30d96f264a1dd1f9%3A0xf0346c6d9b33150!2z4Lih4Lir4Liy4Lin4Li04LiX4Lii4Liy4Lil4Lix4Lii4LiY4Lij4Lij4Lih4Lio4Liy4Liq4LiV4Lij4LmMIOC4qOC4ueC4meC4ouC5jOC4peC4s-C4m-C4suC4hw!5e0!3m2!1sth!2sth!4v1724744098576!5m2!1sth!2sth"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
    <div class="col-6">
        <p class mt-4>ที่อยูุ่</p>
        <div class="col-2">


        </div>
        <div class="col-4">
            <p>248 หมู่ที่ 2 ถนน ถนน ซุปเปอร์ไฮเวย์ เชียงใหม่-ลำปาง ตำบล ปงยางคก อำเภอห้างฉัตร ลำปาง 52190</p>

        </div>
        <hr>
        <p class mt-4>เบอร์โทร</p>
        <div class="row">
            <div class="col-1">

            </div>
            <div class="col-9">
                <i class="bi bi-telephone h6">054 237 999</i>

            </div>
            <hr>
            <p class mt-4>Social-media</p>
            <div class="row">
                <div class="col-1">

                </div>
                <div class="col-9">
                    <a href="https://www.facebook.com/TULP.pr/?locale=th_TH">
                        <i class="bi bi-facebook h6">Thammasat Lampang</i>
                    </a>

                    <hr>
                    <a href="https://www.instagram.com/tusu_lampang/">
                        <i class="bi bi-instagram">tusu_lampang</i>
                    </a>

                </div>
            </div>


        </div>